@search-btn-colour: #f8f8f8;
@search-btn-colour-hover: #f0f0f0;
@search-border-color: #d3d3d3;
@search-border-color-hover: #c6c6c6;
@grey-text: rgb(96, 96, 96);
@grey-icon: rgb(144, 144, 144);

*, *::before, *::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: inherit;
    font-family: 'Roboto';
    color: #030303;
}

button {
    cursor: pointer;
}

.transparent-btn {
    background: none;
}

.opacity-btn {
    opacity: 0.7;
}

// ===== CONTENT =====

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// ===== HEADER =====
.header {
    background: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 0 16px;
    z-index: 99999;
}

// ===== HEADER LEFT =====
.header-left {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.menu-btn {
    margin: 0 8px;
    height: 24px;
    width: 24px;
    border: none;
}

.menu-btn img {
    height: 24px;
    width: 24px
}

.logo-btn {
    box-sizing: content-box;
    padding: 18px 14px 18px 16px;
    height: 20px;
    width: 90px;
    border: none;
}

.logo-btn img {
    height: 20px;
    width: 90px;
}

.region-text {
    font-size: 10px;
    color: @grey-text;
    margin-left: -10px;
    margin-top: 12px;
    height: 44px
    // font-weight: 500;
}

// ===== HEADER CENTER =====
.header-center {
    height: 100%;
    width: auto;
    display: flex;
    flex-basis: 728px;
    align-items: center;
    justify-content: flex-end;
} 

.search-bar {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.search-input {
    box-sizing: content-box;
    height: 26px;
    width: 562px;
    padding: 2px 6px;
    border-radius: 2px 0 0 2px;
    border: 1px solid @search-border-color;
}

.search-btn {
    background-color: @search-btn-colour;
    height: 32px;
    width: 64px;
    padding: 1px 6px;
    border-radius: 0 2px 2px 0;
    border-left: none;
    border-right: 1px solid @search-border-color;
    border-top: 1px solid @search-border-color;
    border-bottom: 1px solid @search-border-color;
}

.search-btn:hover {
    background-color: @search-btn-colour-hover;
    border: 1px solid @search-border-color-hover;
}

.search-btn:hover > img{
    opacity: 1;
}

.search-btn img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    opacity: 0.5;
} 

.search-mic-btn {
    margin: 0 8px;
    height: 24px;
    width: 24px;
    border: none;
}

.search-mic-btn img {
    width: 24px;
    height: 24px;
    opacity: 0.9;
}

// ===== HEADER RIGHT =====
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 225px
}

.create-btn {
    margin-right: 8px;
    padding: 8px;
    border: none;
}

.create-btn img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    opacity: 0.9;
}

.youtube-apps-btn {
    margin-right: 8px;
    padding: 8px;
    height: 40px;
    width: 40px;
    border: none;
}

.youtube-apps-btn img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    opacity: 0.9;
}

.notifications-btn {
    margin-right: 8px;
    padding: 8px;
    height: 40px;
    width: 40px;
    border: none;
}

.notifications-btn img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    opacity: 0.9;
}

.profile-div {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-btn {
    background-color: blue;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;

}

.profile-btn span {
    color: white;
    font-size: 18px;
}

// ===== MAIN =====
.main {
    padding-top: 56px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: calc(480px * (16/9) + (3 * 24px) + 300px);
    max-width: calc(1280px + 402px + (3 * 24px));
}

// ===== PRIMARY =====
.primary {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    min-width: calc(480px * (16/9));
    max-width: calc((100vh - (56px + 24px + 136px)) * (16/9));
    padding: 24px 24px 0 0;
    margin: 0 0 0 24px;
    background: cyan;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

// ===== VIDEO DATA =====
.video-data {
    box-sizing: content-box;
    background-color: white;
    min-width: calc(480px * (16/9));
    max-width: calc((100vh - (56px + 24px + 136px)) * (16/9));
    height: 66px;
    flex-grow: 1;
    padding: 20px 0 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.video-data-top {
    //
}

.video-data-top .video-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.video-data-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.video-data-bottom .video-data-left {
    display: flex;
    flex-direction: row;
}

.video-data-bottom .video-data-left .video-info {
    letter-spacing: 0.2px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: @grey-text;
}

.video-data-bottom .video-data-left .dot {
    margin: 0 4px;
}

.video-data-bottom .video-data-right {
    display: flex;
    flex-direction: row;
    height: 36px;
}

.video-data-bottom .video-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 40px;
}

.video-data-bottom .option-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 36px;
    border: none;
    text-transform: uppercase;
    padding-right: 6px;
    background: none;
}

.video-data-bottom .option-btn p {
    line-height: 36px; // Better solution?
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: @grey-text;
}

.video-data-bottom .video-data-right .option-btn-margin {
    margin-left: 8px;
}

.video-data-bottom .video-menu {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: none;
}

.video-data-bottom .video-menu img{
    height: 24px;
    width: 24px;
    opacity: 0.4;
}

.video-data-bottom .video-menu:hover > img{
    opacity: 0.6;
}

.video-data-bottom .info-img {
    box-sizing: content-box;
    height: 24px;
    width: 24px;
    padding: 6px;
    opacity: 0.4;
}

.video-data-bottom .upvote {
    box-sizing: content-box;
    height: 42px;
    border-bottom: 2px solid #909090;
    margin-bottom: -7px;
}

.video-data-bottom .downvote {
    height: 42px;
    border-bottom: 2px solid #909090;
    margin-bottom: -7px;
    padding-left: 8px;
}

// ===== CHANNEL INFO =====
.channel-info {
    background: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

// ===== CHANNEL INFO ROW 1 =====
.channel-info .channel-info-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 12px;
}

.channel-info-left {
    display: flex;
    flex-direction: row;
}

.channel-info .channel-info-row-1 .channel-icon{
    height: 51px;
    width: 64px;
}

.channel-info .channel-info-row-1 .channel-icon img{
    height: 48px;
    width: 48px;
}

.channel-info .channel-name-subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.channel-name-ver {
    display: flex;
    flex-direction: row;
}

.channel-name-ver .channel-name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.channel-name-ver .channel-verify-img {
    opacity: 0.6;
}

.channel-name-ver .channel-verify {
    padding-left: 4px;
}

.channel-name-ver .channel-verify-img {
    height: 13px;
    width: 13px;
}


.channel-info .channel-name-subs .channel-subs{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 18px;
    margin-right: 4px;
    color: @grey-text;
}

.channel-info-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-info-right .subscribe-btn {
    height: 37px;
    font-size: 14px;
    padding: 10px 16px;
    margin: 1.5px 4px;
    border: none;
    border-radius: 2px;
}

.channel-info-right .subscribe-btn p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: @grey-text;
}

.channel-info-right .bell-btn {
    height: 40px;
    width: 40px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    background: none;
}

.channel-info-right .bell-btn img {
    height: 24px;
    width: 24px;
    opacity: 0.4;
}

// ===== CHANNEL INFO ROW 2 =====
.channel-info-row-2 .channel-video-descriptor {
    height: 60px;
    margin-left: 64px;
    width: 615px;
}

.channel-info-row-2 .channel-video-descriptor p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
}

// ===== CHANNEL INFO ROW 3 =====
.channel-info-row-3 .channel-show-more {
    margin-left: 64px;
    margin-top: 8px;
}

.channel-info-row-3 .channel-show-more p {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #606060;
}

// ===== COMMENTS =====
.comment-info-header {
    display: flex;
    flex-direction: column;
    margin: 24px 0 32px 0;
}

.comment-info-header .comment-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.comment-info-header .comment-info .comment-number {
    margin-right: 32px;
}

.comment-info-header .comment-info .comment-number p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 22px;
}

.comment-info-header .comment-info .comment-sort {
    display: flex;
    flex-direction: row;
}

.comment-info-header .comment-info .comment-sort img {
    height: 24px;
    width: 24px;
    opacity: 0.4;
    margin-right: 8px;
}

.comment-info-header .comment-info .comment-sort p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 22px;
    color: #606060;
}

.comment-info-header .comment-user {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.comment-info-header .comment-user .user-symbol {
    background: blue;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    font-size: 22px;
}

.comment-info-header .comment-user .user-input {
    flex-grow: 1;
    box-sizing: content-box;
    height: 20px;
    padding-bottom: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

// ===== COMMENT =====
.comment {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    background: white;
}

.comment .commenter-icon {
    margin-right: 16px;
}

.comment .commenter-icon img {
    height: 40px;
    width: 40px;
}

.comment .commenter-content {
    display: flex;
    flex-direction: column;
}

.comment .commenter-content .commenter-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

.comment .commenter-content .commenter-header .commenter-name-ver {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    padding-right: 4px; //!!!!
}

.comment .commenter-content .commenter-header .commenter-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.comment .commenter-content .commenter-header .commenter-verify {
    margin-bottom: 1px;
    margin-left: 4px;
}

.comment .commenter-content .commenter-header .commenter-verify img{
    height: 13px;
    width: 13px;
    opacity: 0.6;
}
.comment .commenter-content .commenter-header .commenter-date {
    color: @grey-text;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 18px;
}

.comment .commenter-content .commenter-text {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
}

.comment .commenter-content .commenter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
    height: 36px;
}

.comment .commenter-content .commenter-options .commenter-thumbs-up {
    box-sizing: content-box;
    height: 16px;
    width: 16px;
    padding: 8px 8px 8px 0;
}

.comment .commenter-content .commenter-options .commenter-thumbs-up img {
    height: 16px;
    width: 16px;
    opacity: 0.4;
}

.comment .commenter-content .commenter-options .commenter-thumbs-up-count {
    color: @grey-text;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 18px;
}

.comment .commenter-content .commenter-options .commenter-thumbs-down {
    box-sizing: content-box;
    height: 16px;
    width: 16px;
    padding: 8px;
}

.comment .commenter-content .commenter-options .commenter-thumbs-down img {
    height: 16px;
    width: 16px;
    opacity: 0.4;
} 

.comment .commenter-content .commenter-options .commenter-reply {
    color: @grey-text;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.007px;
}

.comment .commenter-replies {
    display: flex;
    flex-direction: row ;
    margin-left: -6px;
    height: 32px;
    padding: 2px 0 10px 0;
}

.comment .commenter-replies .commenter-replies-arrow {
    height: 20px;
    width: 20px;
    padding: 0;
}

.comment .commenter-replies .commenter-replies-arrow img{
    height: 20px;
    width: 20px;
}

.deep-blue {
    filter: invert(24%) sepia(44%) saturate(5753%) hue-rotate(207deg) brightness(89%) contrast(95%);
}

.comment .commenter-replies .commenter-replies-text {
    margin-left: 8px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 20px;
    color: #065fd4;
}


// ===== SECONDARY =====
.secondary {
    box-sizing: content-box;
    height: 100%;
    width: 402px;
    min-width: 300px;
    padding: 24px 24px 0 0;
    background-color: darkkhaki ;
    flex-shrink: 0;
    overflow: auto;
}
